.chart-container{
	padding-top: 2%
}

.info-background {
	border: black;
	background: lightgrey
}

.mostActive h6{
	text-align: center;
}

.containedButtonKevin {
	/* position: relative;
	display: block; */
	margin-top: 10px;

}

.containedButtonKevin h7{
	margin-left: 5px;
	padding-top: 5px;
}

.addDataClass{
	display: inline-block;
	position: relative;
	


}

.foot {
	height: 20px
}

.imgKEVIN {
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
	width: 50%;
}

.info-head {
	margin-left:auto;
	margin-right:auto;
	background:none;
	margin-top: 5%;
	border: none;
	text-align: center;
}

.drop-text{
	color: black;
}
.btnKK {
	color: white;
}

.radio-inline{
	margin-right: 5px;
}

.submit {

	padding: auto;
	margin-left: 100px;
}

#stockInputForm{
	color: white;
	margin-left: 10px;
}

.mlinfopane {
	background: white;
	border: solid;
	padding:3px;

}

.mlbackground {
	background: grey;
}

#responsive-image {  width: 100%;  height: auto; } 