.chart-container{
	padding-top: 2%
}

.info-background {
	border: white;
	background: lightblue
}

.info-head {
	color: white;
	background: black;
	margin-top: 2%;
	border: solid;
}

.drop-text{
	color: black;
}

#stockInputForm{
	color: white;
}