<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets.css') }}">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- DevExtreme themes -->
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.2.6/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.2.6/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/20.2.6/js/dx.all.js"></script>
    
    
    <!-- Help Widgets -->

    <!-- <script src="../static/js/help-widget-groove.js"></script> -->
    <!-- Start of test-kevin Zendesk Widget script -->
    <!-- <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=4ee4bd26-90c1-4bcd-a11b-5dceaf41daed"> </script> -->
    <!-- End of test-kevin Zendesk Widget script -->
    
    <!-- Document360 Knowledge Base Assistant Start -->
    <!-- <script>
        (function (w,d,s,o,f,js,fjs) {
            w['JS-Widget']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
            js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
            js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
        }(window, document, 'script', 'mw', 'https://cdn.document360.io/static/js/widget.js'));
        mw('init', { apiKey: 'OBBt3Wo9S/fCC3ioJTustdGAXKhOR0lnxqCjI/dD32Wy30lPdXz1WHg3bsWrwq4TjgdAdrQOLEVKolYNR0NY78pv5ioKh/LUoJ2Q0TmJbhRFlgm3U6/bfZa1VfI71ZLcRvA2gzsy0vwAoTfkrCeOHA==' });
    </script> -->
    <!-- Document360 Knowledge Base Assistant End -->

    <!-- Freshdesk Widget -->
    <script>
        window.fwSettings={
        'widget_id':69000001266
        };
        !function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}() 
    </script>
    <script type='text/javascript' src='https://widget.freshworks.com/widgets/69000001266.js' async defer></script>
    
    
    <!-- Application -->
    <!-- <script src="../static/js/drawer.js"></script> -->
    <script src="{{ url_for('static', filename='js/regroup.js')}}"></script>
    
                            
    
                          
</head>
<body class="dx-viewport">
    <div id="toolbar" class='w-full block'></div>
    <div id="mainAnchor" class="flex flex-row justify-between w-full h-full">
        <div id="drawer">
            
            <div id="viewWrapper" class='object-full overflow-auto overflow-x-auto' >
                <div id="mainChart" ></div>
            </div>
        </div>
        <div class='w-1/5'>
            <h1>Maybe?</h1>
        </div>
    </div>
    <span class="box-content m-3 p-3"><button class="shadow-sm rounded-md w-4 h-4 hover:bg-blue-600 hover:text-white" onclick='articleRedirect()'>?</button></span>
    <div class="option">
        <label>Opened state mode</label>
        <div id="opened-state-mode"></div>
    </div>
     <!-- <div class="demo-container">
        <div class="slideout-container">
            <div id="slideout"></div>
        </div>
        
    </div> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    
    
</body>
</html>